/********************
General
********************/

body {
  font-family: 'Sigmar One', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;

}



/********************
Header
********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#logo {
  text-align: center;
  margin: 0;
}
/* Headline font style */
h1 {
  font-family: 'Amatic SC', sans-serif;
  margin: 15px 0;
  font-size: 10vw;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: .75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/********************
Navigation
********************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  font-size: 5vw;
}

nav a {
  font-weight: 800;
  padding: 5px 5px;
}

/********************
Footer
********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/********************
Page: Band Members
********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#gallery li {
  color: #bdc3c7;
  width: 100%;
  margin: 2% 0;
}

#gallery li p {
  background-color: #e47b23;
}

#gallery li a {
  display: flex;
  flex-direction: column;
}

#gallery li a figcaption {
  font-size: .8rem;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  font-family: 'Chewy', sans-serif;
}

#gallery img {
max-height: 250px;
}

/********************
Page: Medicine Cabinet
********************/

.band-logo {
  display: block;
  max-width: 350px;
  margin: 30px auto 30px;
  border-radius: 20px;
}

h3 {
    color: #f5bf7e;
}

section {
  color: #def;
}

section a{
    color: #3f4eae;
}



/********************
Page: Contact
********************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0l;
  font-size: 0.9em;
}

/*.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}*/

/*.contact-info li.phone a {
  background-image: url('../img/phone.png');
}*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  clear: both;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/********************
Colors
********************/

/* site body */
body {
  background-color: #e47b23;
  color: #e9e;
  min-width: 380px;
}

/* purple header */
header {
  background: #6c21ed;
  border-color: #599a68;
}

/* nav background on mobile */
nav {
  background: #f994a2;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* photo links */
a {
  color: #c7331c;
}

/* nav link color */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link color */
nav a:hover {
  color: #dc23ff;
}

nav a.selected{
  color: #dc23ff;
}

/* Copyright statement*/
footer p {
  color: #000;
}

/* Phot Captions */
figcaption {
    color: #1fbae4;
    padding-bottom: 25px;
}

/********************
Wrapper
********************/

#wrapper {
  position: relative;
  top: 200px;
}



/********************
Parallax
********************/

/*body, html {
  height: 100%
}
  .parallax {
      /* The image used */
    /*  background-image: <img src="img/DNAlien.PNG" alt="">;

      /* Set a specific height */
    /*  height: 100%;

      /* Create the parallax scrolling effect */
      /*background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


  /********************
  Carousel
  ********************/

  #myCarousel {
    max-width: 1000px;
    margin: auto;
  }

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}
